/* th {
    padding: 15px;
  }

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;    
}
thead {display: table-header-group;} */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

.tablehead{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;

}
table {
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
    width: 1161px;
}

td{
    border-right: 1px solid white;
    height: 83px;
    width:219px;
    text-align: left;
}
td:nth-child(1){
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    border-right:1px solid white;
}
td:nth-child(2){
    border-right:1px solid white;
}

td:nth-child(3){
    border-right:1px solid white;
}
td:nth-child(4){
    border-right:1px solid white;
}
td:nth-child(5){
    font-weight: 500;
    font-family: 'Oswald', sans-serif;;
}

img{
    max-height: 50px;
    max-width: 50px;
    border-radius: 15px;
}





















